* {
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.container {
  align-content: center;
  align-items: center;
  display: grid;
  gap: 32px;
  grid-template-rows: repeat(auto-fit, 80px);
  height: 100%;
  justify-content: center;
}

.item {
  width: fit-content;
}
